{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        
      </div>
      <div class="flex-1 flex items-center justify-start">
        <div class="sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="text-white px-3 py-2 text-sm font-medium rounded-md hover:bg-gray-700 hover:text-white " aria-current="page">Home</a>

            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">My Appointments</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a href="/logout" class="bg-gray-800 px-3 py-2 text-gray-400 hover:text-white focus:outline-none rounded-md hover:bg-gray-700 hover:text-white ">
          Logout
        </a>
      </div>
    </div>
  </div>
</nav>

    {% if slots %}
    <div class="container">
        <div class="mt-10 flex justify-center">
        {% set dateTime = date(slots[0][1]) %}
        <span class="day text-4xl font-bold m-1">Slots for </span>
        <span class="day text-4xl font-bold m-1">{{ dateTime | date('d') }}</span>
        <span class="month text-4xl font-bold m-1">{{ dateTime | date('F') }}</span>
        <span class="year text-4xl font-bold m-1">{{ dateTime | date('Y') }}</span>
        </div>

        <div class="flex justify-center mt-5">
        <select id="filter" class="form-select mt-1 block border border-2 text-xl">
            <option id="show-all" selected>Show all</option>
            <option id="show-available">Show available</option>
        </select>
        </div>

        
         <section class="text-gray-600 body-font">
            <div class="container px-5 py-24 mx-auto">
                <div class="flex flex-wrap gap-5 -m-2 justify-center">
        {% for slot in slots %}
         {% if slot[3] == 0 %}
        <div class="all h-full bg-green-400 text-white bg-white border-gray-200 border p-4 rounded-lg shadow-2xl">
                <p class="text-2xl font-semibold m-1 mb-5">Time: {{ slot[2] }}</p>
                <a href="/book/{{slot[0]}}/{{app.user.id}}" class="mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Book slot</a>
                {# <button data-id="{{ slot[0] }}" class="book-slot" value={{ slot[0] }}>Book Slot</button> #}
        </div>
        {% endif %}

        {% if slot[3] == 1 %}
        <div class="booked h-full bg-red-500 text-white border-gray-200 border p-4 rounded-lg shadow-2xl">
                <p class="text-2xl font-semibold m-1">Time: {{ slot[2] }}</p>
                <p class="text-2xl text-gray-300 font-semibold m-1">Booked</p>
                {# <button data-id="{{ slot[0] }}" class="book-slot" value={{ slot[0] }}>Book Slot</button> #}
        </div>
        {% endif %}

        {% endfor %}
        </div>
        </div>
        </section>

    </div>
    
    {% else %}
        <div class="mt-20 flex justify-center">
            <h1 class="text-4xl">Sorry! No Slots Available for this Day =(</h1>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script>
    window.onload = function() {
        //console.log(document.getElementById("show-available"));

    document.getElementById("filter").addEventListener("change",function(event) {
        if(event.target.value == "Show all"){
            //console.log(document.getElementById("all"));
            for(let i=0; i< document.querySelectorAll(".booked").length; i++){
                document.querySelectorAll(".booked")[i].style.display = 'block';
            }
        }
        if(event.target.value == "Show available"){
            for(let i=0; i< document.querySelectorAll(".booked").length; i++){
                document.querySelectorAll(".booked")[i].style.display = 'none';
            }
        }
    });
    console.log()

    /*if (slots) {
        slots.addEventListener('click', e => {
          if (e.target.className === 'book-slot') {
            if (confirm('Are you sure?')) {
                const id = e.target.getAttribute('data-id');
                // alert(id);
                fetch(`/article/delete/${id}`, {
                    method: 'DELETE'
                }).then(res => window.location.reload());
            }
          }
        });
    }*/
    var buttons = document.getElementsByClassName("book-slot");

    for(let i=0; i<buttons.length; i++){
        buttons[i].addEventListener('click', (e)=>{
           console.log(e.target.getAttribute('data-id'))
           const id = e.target.getAttribute('data-id');
           fetch(`/book/${id}`,{
               method: 'GET'
           }).then(res => window.location.reload(`/book/${id}`))
        });
    }
    /*buttons.forEach(element => {
        element.addEventListner('click', (e)=>{
            console.log('someone hit me');
        });
    });*/
    }
</script>
{% endblock %}