{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <select id="filter">
            <option id="show-all" selected>Show all</option>
            <option id="show-available">Show available</option>
        </select>
        {% for slot in slots %}
        
        {% if slot[3] == 0 %}
        <div id="all">
            <p>{{ slot[1] }}</p>
            <p>{{ slot[2] }}</p>
            <a href="/book/{{slot[0]}}/{{app.user.id}}">Book slot</a>
            {# <button data-id="{{ slot[0] }}" class="book-slot" value={{ slot[0] }}>Book Slot</button> #}
        </div>
        {% endif %}

        {% if slot[3] == 1 %}
        <div id="booked">
            <p>{{ slot[1] }}</p>
            <p>{{ slot[2] }}</p>
            <button>Book Slot</button>
        </div>
        {% endif %}
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = function() {
        //console.log(document.getElementById("show-available"));

    document.getElementById("filter").addEventListener("change",function(event) {
        if(event.target.value == "Show all"){
            //console.log(document.getElementById("all"));
            document.getElementById("booked").style.display = 'block';
        }
        if(event.target.value == "Show available"){
            //console.log(document.getElementById("booked"));
            document.getElementById("booked").style.display = 'none';
        }
    });
    console.log()

    /*if (slots) {
        slots.addEventListener('click', e => {
          if (e.target.className === 'book-slot') {
            if (confirm('Are you sure?')) {
                const id = e.target.getAttribute('data-id');
                // alert(id);
                fetch(`/article/delete/${id}`, {
                    method: 'DELETE'
                }).then(res => window.location.reload());
            }
          }
        });
    }*/
    var buttons = document.getElementsByClassName("book-slot");

    for(let i=0; i<buttons.length; i++){
        buttons[i].addEventListener('click', (e)=>{
           console.log(e.target.getAttribute('data-id'))
           const id = e.target.getAttribute('data-id');
           fetch(`/book/${id}`,{
               method: 'GET'
           }).then(res => window.location.reload(`/book/${id}`))
        });
    }
    /*buttons.forEach(element => {
        element.addEventListner('click', (e)=>{
            console.log('someone hit me');
        });
    });*/
    }
</script>
{% endblock %}