{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <select id="filter">
            <option id="show-all" selected>Show all</option>
            <option id="show-available">Show available</option>
        </select>
        {% for slot in slots %}
        
        {% if slot[3] == 0 %}
        <div id="all">
            <p>{{ slot[1] }}</p>
            <p>{{ slot[2] }}</p>
            <button class="book-slot" value={{ slot[0] }}>Book Slot</button>
        </div>
        {% endif %}

        {% if slot[3] == 1 %}
        <div id="booked">
            <p>{{ slot[1] }}</p>
            <p>{{ slot[2] }}</p>
            <button>Book Slot</button>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    {{ form_start(booking_form) }}
    {{ form_widget(booking_form) }}
    {{ form_end(booking_form) }}
{% endblock %}

{% block javascripts %}
<script>
    window.onload = function() {
        //console.log(document.getElementById("show-available"));

    document.getElementById("filter").addEventListener("change",function(event) {
        if(event.target.value == "Show all"){
            //console.log(document.getElementById("all"));
            document.getElementById("booked").style.display = 'block';
        }
        if(event.target.value == "Show available"){
            //console.log(document.getElementById("booked"));
            document.getElementById("booked").style.display = 'none';
        }
    });

    var buttons = document.getElementsByClassName("book-slot");

    for(let i=0; i<buttons.length; i++){
        buttons[i].addEventListener('click', (e)=>{
            var id = parseInt(e.target.value);
             console.log(parseInt(e.target.value));
             document.getElementById("booking_form_Id").value = id;
             console.log(typeof(id));
             var date = e.target.previousElementSibling.previousElementSibling.innerHTML;
             var time = e.target.previousElementSibling.innerHTML;

             //document.getElementById("booking_form_slot_date_month").value= date;

             console.log(date,time);
        });
    }
    //buttons.forEach(element => {
     //   element.addEventListner('click', (e)=>{
      //      console.log('someone hit me');
     //   });
   // });
    }
</script>
{% endblock %}