{% extends 'base.html.twig'%}

{% block style %}
    <style>
    .modal {
      transition: opacity 0.25s ease;
    }
    body.modal-active {
      overflow-x: hidden;
      overflow-y: visible !important;
    }
    </style>
  {% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}
 <button class="modal-open bg-transparent border border-gray-500 hover:border-indigo-500 text-gray-500 hover:text-indigo-500 font-bold py-2 px-4 rounded-full">Write a review</button>

  <!--Modal-->
  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>

      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

            <!--Modal Body-->
            <div>
                <span id="1star" class="fa fa-star fa-2x text-yellow-500"></span>
                <span id="2star" class="fa fa-star fa-2x text-gray-500"></span>
                <span id="3star" class="fa fa-star fa-2x text-gray-500"></span>
                <span id="4star" class="fa fa-star fa-2x text-gray-500"></span>
                <span id="5star" class="fa fa-star fa-2x text-gray-500"></span>

                {{ form_start(review_form) }}
                {{ form_widget(review_form.rating, { 'attr': {'value': 1, 'hidden': true} }) }}

                {{ form_label(review_form.category) }}
                {{ form_widget(review_form.category) }}

                {{ form_widget(review_form.comment, { 'attr': { 'placeholder': 'Tell us about your experience'} }) }}

                {{ form_widget(review_form.userid, { 'attr': {'value': app.user.id, 'hidden': true} }) }}

                {{ form_end(review_form) }}
            </div>  
      </div>
    </div>
  </div>

  {% for rating in ratings %}
    <div>
        <span>{{rating[1]}}</span>  <!-- Displaying name --> 

        {% set currentDate = date()|date('Y-m-d H:i:s', "Asia/Kolkata") %}  <!-- Displaying date -->
        {% set difference = date(currentDate).diff(date(rating[2])) %}

        {% if difference.y != 0 %}
        <span>{{ difference.y}}  {{ difference.y == 1 ? 'year ago' : 'years ago'}}</span>
        {% elseif difference.m != 0 %}
        <span>{{ difference.m}} {{ difference.m == 1 ? 'month ago' : 'months ago'}}</span>
        {% elseif difference.d != 0 %}
        <span>{{difference.d }} {{ difference.d == 1 ? 'day ago' : 'days ago'}}</span>
        {% elseif difference.h != 0 %}
        <span>{{ difference.h}} {{ difference.h == 1 ? 'hour ago' : 'hours ago'}}</span>
        {% elseif difference.i != 0 %}
        <span>{{ difference.i}} {{ difference.i == 1 ? 'minute ago' : 'minutes ago'}}</span>
        {% else %}
        <span>{{ difference.s }} {{ difference.s == 1 ? 'second ago' : 'seconds ago'}}</span>
        {% endif %}
    </div>

    <div>
    {% if rating[3] == 1 %}    <!-- Displaying rating -->
        <div>
            <span id="1star" class="fa fa-star  text-yellow-500"></span>
            <span id="2star" class="fa fa-star text-gray-500"></span>
            <span id="3star" class="fa fa-star text-gray-500"></span>
            <span id="4star" class="fa fa-star  text-gray-500"></span>
            <span id="5star" class="fa fa-star text-gray-500"></span>
        </div>
    {% endif %}
    {% if rating[3] == 2 %}
        <div>
            <span id="1star" class="fa fa-star text-yellow-500"></span>
            <span id="2star" class="fa fa-star  text-yellow-500"></span>
            <span id="3star" class="fa fa-star  text-gray-500"></span>
            <span id="4star" class="fa fa-star  text-gray-500"></span>
            <span id="5star" class="fa fa-star  text-gray-500"></span>
        </div>
    {% endif %}
    {% if rating[3] == 3 %}
        <div>
            <span id="1star" class="fa fa-star text-yellow-500"></span>
            <span id="2star" class="fa fa-star  text-yellow-500"></span>
            <span id="3star" class="fa fa-star  text-yellow-500"></span>
            <span id="4star" class="fa fa-star text-gray-500"></span>
            <span id="5star" class="fa fa-star text-gray-500"></span>
        </div>
    {% endif %}
    {% if rating[3] == 4 %}
        <div>
            <span id="1star" class="fa fa-star  text-yellow-500"></span>
            <span id="2star" class="fa fa-star  text-yellow-500"></span>
            <span id="3star" class="fa fa-star  text-yellow-500"></span>
            <span id="4star" class="fa fa-star  text-yellow-500"></span>
            <span id="5star" class="fa fa-star  text-gray-500"></span>
        </div>
    {% endif %}
    {% if rating[3] == 5 %}
        <div>
            <span id="1star" class="fa fa-star text-yellow-500"></span>
            <span id="2star" class="fa fa-star text-yellow-500"></span>
            <span id="3star" class="fa fa-star text-yellow-500"></span>
            <span id="4star" class="fa fa-star text-yellow-500"></span>
            <span id="5star" class="fa fa-star text-yellow-500"></span>
        </div>
    {% endif %}
    </div>

    <p>{{rating[4]}}</p>    <!-- Displaying category -->
    <p>{{rating[5]}}</p>    <!-- Displaying comment -->
    <p>{{rating[6]}}</p>    <!-- Displaying reply -->
  {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
     window.onload = function() {
          var openmodal = document.querySelectorAll('.modal-open')
    for (var i = 0; i < openmodal.length; i++) {
      openmodal[i].addEventListener('click', function(event){
    	event.preventDefault()
    	toggleModal()
      })
    }
    
    const overlay = document.querySelector('.modal-overlay')
    overlay.addEventListener('click', toggleModal)
    
    var closemodal = document.querySelectorAll('.modal-close')
    for (var i = 0; i < closemodal.length; i++) {
      closemodal[i].addEventListener('click', toggleModal)
    }
    
    document.onkeydown = function(evt) {
      evt = evt || window.event
      var isEscape = false
      if ("key" in evt) {
    	isEscape = (evt.key === "Escape" || evt.key === "Esc")
      } else {
    	isEscape = (evt.keyCode === 27)
      }
      if (isEscape && document.body.classList.contains('modal-active')) {
    	toggleModal()
      }
    };
    
    
    function toggleModal () {
      const body = document.querySelector('body')
      const modal = document.querySelector('.modal')
      modal.classList.toggle('opacity-0')
      modal.classList.toggle('pointer-events-none')
      body.classList.toggle('modal-active')
    }
        
         document.getElementById("1star").addEventListener("click", function(e){
            document.getElementById("2star").classList.add("text-gray-500");
            document.getElementById("3star").classList.add("text-gray-500");
            document.getElementById("4star").classList.add("text-gray-500");
            document.getElementById("5star").classList.add("text-gray-500");
            document.getElementById("2star").classList.remove("text-yellow-500");
            document.getElementById("3star").classList.remove("text-yellow-500");
            document.getElementById("4star").classList.remove("text-yellow-500");
            document.getElementById("5star").classList.remove("text-yellow-500");
            document.getElementById("form_rating").value = 1;
         })
         document.getElementById("2star").addEventListener("click", function(e){
            document.getElementById("2star").classList.add("text-yellow-500");
            document.getElementById("3star").classList.add("text-gray-500");
            document.getElementById("4star").classList.add("text-gray-500");
            document.getElementById("5star").classList.add("text-gray-500");
            document.getElementById("3star").classList.remove("text-yellow-500");
            document.getElementById("4star").classList.remove("text-yellow-500");
            document.getElementById("5star").classList.remove("text-yellow-500");
            document.getElementById("form_rating").value = 2;
         })
         document.getElementById("3star").addEventListener("click", function(e){
            document.getElementById("2star").classList.add("text-yellow-500");
            document.getElementById("3star").classList.add("text-yellow-500");
            document.getElementById("4star").classList.add("text-gray-500");
            document.getElementById("5star").classList.add("text-gray-500");
            document.getElementById("4star").classList.remove("text-yellow-500");
            document.getElementById("5star").classList.remove("text-yellow-500");
            document.getElementById("form_rating").value = 3;
            
         })
         document.getElementById("4star").addEventListener("click", function(e){
            document.getElementById("2star").classList.add("text-yellow-500");
            document.getElementById("3star").classList.add("text-yellow-500");
            document.getElementById("4star").classList.add("text-yellow-500");
            document.getElementById("5star").classList.add("text-gray-500");
            document.getElementById("5star").classList.remove("text-yellow-500");
            document.getElementById("form_rating").value = 4; 
         })
         document.getElementById("5star").addEventListener("click", function(e){
            document.getElementById("2star").classList.add("text-yellow-500");
            document.getElementById("3star").classList.add("text-yellow-500");
            document.getElementById("4star").classList.add("text-yellow-500");
            document.getElementById("5star").classList.add("text-yellow-500");
            document.getElementById("form_rating").value = 5;
         })
     }
</script>
{% endblock %}